

<div class="container">
    <br>
    <h2>Login de usuario</h2>
   <form id="loginForm">
        <label class="form-label">Ingrese su mail</label>
        <input id="email" name = "email" class="form-control">
        <br>
        <input  type="submit" class="btn btn-success">
   </form>
   <br>
   <br>
   <a href="http://localhost:8080/nuevoProducto">Ingreso de producto nuevo</a>
  <br>
  <br>
   <a href="http://localhost:8080/">Inicio</a>
</div>

<script src="js/login.js"></script>