<div class="container">
   <h1>Ingrese su producto</h1>
   <div>
      <h3>Bienvenido {{user.name}}</h3>

      <form>
         <a href="http://localhost:8080/api/logout"">
        <input type=" button" class="btn btn-secondary btn-sm" value="Logout">
         </a>
      </form>
   </div>
   <form id="productForm">
      <label class="form-label">Producto</label>
      <input id="title" name="title" class="form-control">
      <label class="form-label">Precio</label>
      <input id="price" name="price" class="form-control">
      <br>
      <input id="file" type="file" name="file" class="form-control">
      <br>
      <input type="submit" class="btn btn-success">
   </form>
   <br>
   <a href="http://localhost:8080/" class="fs-3"> Inicio</a>
   <br>
</div>



<script src="js/newProduct.js"></script>