
<br>
<a href="http://localhost:8080/nuevoProducto">Ingreso de producto nuevo</a>

{{#each products}}
    <div>
        <ul>
            <li>
                Producto: {{title}} -  {{price}} $ - <img src="http://localhost:8080/img/{{thumbnail}}" 
            </li>
        </ul>
        
    </div>
{{/each}}


