

doctype html
html(lang="en")
head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'
    integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u' crossorigin='anonymous')
body 
    h1 Hola Listado de productos!!!

    br
    a(href="http://localhost:8080/nuevoProducto") Ingreso de producto nuevo
    br
    br
ul
    each product in products
        li= ` Producto: ${product.title}`
            p= `Precio: ${product.price}$`
            img(src=`http://localhost:8080/img/`+`${product.thumbnail}`, alt="")
            
    else
        li No hay valores para mostrar

        <img src="<%= path+product.thumbnail %>" alt="" />