<h1>Ingrese su producto</h1>
<div class="container">
  <form id="productForm">
    <label class="form-label">Producto</label>
    <input id="title" name="title" class="form-control" required />
    <label class="form-label">Precio</label>
    <input id="price" name="price" class="form-control" required />
    <br />
    <input id="file" type="file" name="file" class="form-control" required />
    <br />
    <input type="submit" class="btn btn-success" />
  </form>
  <hr>

<br />
<a href="http://localhost:8080/productos" class="fs-3"> Ver Productos</a>
<br />

<div id="mostarProductos"></div>
<br>
<div>
   <hr>
   <h2>Chatbox</h2>
  <form id="chatBox">
    <input type="text" id="textChat" />
    <button type="button" id="boton">Enviar</button>
  </form>

  <div id="mostrarChat"></div>
  <br>
</div>
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="js/newProduct.js"></script>