<div>
   <form id="productForm">
        <label>Producto</label>
        <input id="title" name = "title">
        <label>Precio</label>
        <input id="price" name = "price">
        <input id="file" type="file" name="file">
        <input  type="submit">
   </form>
</div>
<br>
<a href="http://localhost:8080/productos"> Ver Productos</a>
<br>


<script src="js/newProduct.js"></script>